<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>


<script type='text/javascript'>
    var authRequest;
    OffAmazonPayments.Button("AmazonLoginButton", "A35PN1K75NBAFR", {
        type: "LwA",
        color: "Gold",
        authorization: function () {
            loginOptions = { scope: "profile postal_code payments:widget payments:shipping_address", popup: true };
            authRequest = amazon.Login.authorize(loginOptions, "https://amzn.github.io/amazon-pay-sdk-samples/login_and_pay/lpa-login-cart.html");
        },
        onError: function (error) {
            // something bad happened
        }
    });
</script>

<script type='text/javascript'>
    function verifyLoggedIn() {
        // if you want to display a message.
        var msgElem = document.getElementById("login-state-msg");

        var options = {
            scope: "profile postal_code payments:widget payments:shipping_address",
            popup: true,
            interactive: 'never'
        };

        // check if we are logged in
        authRequest = amazon.Login.authorize (options, function(response) {
            // this code is executed ASYNCHRONOUSLY

            if ( response.error ) {
                // USER NOT LOGGED IN
                console.log("verifyLoggedIn() - SESSION NOT ACTIVE - " + new Date());
                msgElem.innerHTML = "NOT logged in yet. Click 'Amazon Pay' or Go to Login screen.";
            } else {
                // USER IS LOGGED IN
                console.log("verifyLoggedIn() - SESSION ACTIVE - " + new Date());

                // optionally, get the profile info
                console.dir('access_token= ' + response.access_token);

                amazon.Login.retrieveProfile(function (response) {
                    // Display profile information.
                    console.dir('CustomerId= ' + response.profile.CustomerId);
                    console.dir('Name= ' + response.profile.Name);
                    console.dir('PostalCode= ' + response.profile.PostalCode);
                    console.dir('PrimaryEmail= ' + response.profile.PrimaryEmail);

                    msgElem.innerHTML = "Hello " + response.profile.Name + "! Just click Pay!";
                });
            }
        });
    }
</script>



{{!-- <div id="AmazonPayButton"></div>

<script src="https://static-na.payments-amazon.com/checkout.js"></script>

<script type="text/javascript" charset="utf-8">
    amazon.Pay.renderButton('#AmazonPayButton', {
        // set checkout environment
        merchantId: 'merchant_id',
        ledgerCurrency: 'USD',
        sandbox: true,               
        // customize the buyer experience
        checkoutLanguage: 'en_US',
        productType: 'PayAndShip',
        placement: 'Cart',
        buttonColor: 'Gold',
        // configure Create Checkout Session request
        createCheckoutSessionConfig: {                     
            payloadJSON: payload, // string generated in step 2
            signature: 'xxxx', // signature generated in step 3
            publicKeyId: 'xxxxxxxxxx' 
        }   
    });
</script> --}}